@keyframes float1 {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(4px, -4px) rotate(2deg);
  }
  50% {
    transform: translate(-2px, -6px) rotate(-1deg);
  }
  75% {
    transform: translate(-4px, -2px) rotate(1deg);
  }
}

@keyframes float2 {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-3px, -5px) rotate(-2deg);
  }
  50% {
    transform: translate(4px, -2px) rotate(1.5deg);
  }
  75% {
    transform: translate(2px, -6px) rotate(-1deg);
  }
}

@keyframes float3 {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, -2px) rotate(1.5deg);
  }
  50% {
    transform: translate(-4px, -4px) rotate(-2deg);
  }
  75% {
    transform: translate(2px, -5px) rotate(1deg);
  }
}

.badge {
  animation: float1 6s ease-in-out infinite;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.badge:hover {
  animation: none;
  transform: translate(0, 0) rotate(0deg);
}

.badge:nth-child(3n+1) {
  animation-name: float1;
  animation-delay: -2s;
}

.badge:nth-child(3n+2) {
  animation-name: float2;
  animation-delay: -1s;
}

.badge:nth-child(3n+3) {
  animation-name: float3;
  animation-delay: -3s;
}

.check-icon {
  /* Filtre pour #FD4D21 (orange) */
  filter: invert(42%) sepia(85%) saturate(2028%) hue-rotate(346deg) brightness(91%) contrast(97%);
}

:root.dark .check-icon {
  /* Filtre pour #8944CE (violet) */
  filter: invert(37%) sepia(52%) saturate(1241%) hue-rotate(242deg) brightness(87%) contrast(88%);
}

.slide-in-left {
  animation: slideInLeft 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  animation-timeline: view();
}

.slide-in-right{
  animation: slideInRight 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  animation-timeline: view();
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
  }
  30% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(50%);
  }
  30% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
