/* Cacher le curseur par défaut */
* {
  cursor: none;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  background-image: url('../assets/images/cursor.png');
  background-size: contain;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

/* Style différent au survol des éléments cliquables */
a:hover ~ .custom-cursor,
button:hover ~ .custom-cursor {
  width: 25px;
  height: 25px;
  background-image: url('../assets/images/cursor-pointer.png');
}
