@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #F6F6F6;
  background-image: url('../assets/images/paper.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transition: background-color 0.5s ease-in-out;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url('../assets/images/paper-mob.png');
  }
}

:root.dark body {
  background-image: url('../assets/images/grid-background.png');
  background-color: #1A1A1A;
}

@media only screen and (max-width: 768px) {
  :root.dark body {
    background-image: url('../assets/images/background-grid-mob.png');
  }
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Prompt', sans-serif;
}

h2 {
  font-family: 'Prompt', sans-serif;
}

button, .btn {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (max-width: 768px) {
  button {
    padding: 0.4em 0.8em;
    font-size: 0.8em;
  }
}

.highlight-text-small {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.highlight-text-small:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 4px;
  width: calc(100%);
  height: 16px;
  background-color: #FD5D35; /* Vous pouvez changer la couleur */
  z-index: -1;
}

@media (max-width: 768px) {
  .highlight-text-small:after {
    bottom: 4px;
    height: 12px;
    left: 0;
  }
}

:root.dark .highlight-text-small:after{
  background-color: #8944ce; /* Vous pouvez changer la couleur */
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
